.clientview {
  margin-bottom: 10px;
  .title {
    display: inline-block;
    width: 100%;
    span {
      line-height:36px;
    }
  }
   .content {
    height: 350px;
  }
  .editor {
    position: relative;
    z-index:1;
    top: -280px;
    height: 300px;
    overflow: scroll;
  }
  .asdf {
    position: relative;
    z-index: 2;
    left: -20px;
    width:auto;
    height: 280px;
  }
}
.unsubbutton {
  float:right;
}
