.clientview {
  margin-bottom: 10px;
  .title {
    display: inline-block;
    width: 100%;
  }
   .content {
    height: 350px;
  }
  .editor {
    position: relative;
    z-index:1;
    top: -350px;
  }
  .asdf {
    position: relative;
    z-index: 2;
    left: -30px;
    width:auto;
    height: 350px;
  }
}
.unsubbutton {
  float:right;
}
